{% if data.spatial or (data.extras and data.extras|selectattr("key", "equalto", "spatial")|list) %}
  <div class="spatial-info">
    <h3>{{ _('Spatial Coverage') }}</h3>
    {% set spatial_value = data.spatial %}
    {% if not spatial_value and data.extras %}
      {% for extra in data.extras %}
        {% if extra.key == 'spatial' %}
          {% set spatial_value = extra.value %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if spatial_value %}
      <div class="spatial-extent" data-module="dataset-map" data-extent="{{ spatial_value }}">
        <p>{{ _('Geographic coverage defined') }}</p>
      </div>
    {% endif %}
  </div>
{% endif %}