{% extends "package/snippets/resource_item.html" %}

{% block resource_item_explore %}
  {% if res.url.startswith('tapis://') %}
    {% if h.oauth2_get_stored_token() %}
      <div class="btn-group">
        <a class="btn btn-primary" href="{{ h.get_tapis_view_url(res.url) }}">
          <i class="fa fa-eye"></i> {{ _('View') }}
        </a>
        <a class="btn btn-default" href="{{ h.get_tapis_download_url(res.url) }}">
          <i class="fa fa-download"></i> {{ _('Download') }}
        </a>
      </div>
    {% else %}
      <div class="btn-group">
        <span class="btn btn-default disabled">
          <i class="fa fa-lock"></i> {{ _('Authentication Required') }}
        </span>
      </div>
    {% endif %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}