include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/tapisfilestore *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/tapisfilestore/migration *.ini *.py *.mako
