{% import 'macros/form.html' as form %}

{% set spatial_value = data.get(field.field_name, '') %}

<div class="control-group">
  {{ form.label(field.field_name, field.label, id="field-" + field.field_name) }}
  <div class="controls">
    <textarea
      id="field-{{ field.field_name }}"
      name="{{ field.field_name }}"
      rows="6"
      class="form-control"
      placeholder="{{ field.form_placeholder or '' }}"
    >{{ spatial_value }}</textarea>

    {% if field.help_text %}
      <span class="info-block">
        <i class="fa fa-info-circle"></i>
        {{ field.help_text }}
      </span>
    {% endif %}

    {% if errors and errors[field.field_name] %}
      <span class="error-block">{{ errors[field.field_name]|join(', ') }}</span>
    {% endif %}
  </div>
</div>